<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <!-- add ng-app to the Open Settings -->
    <h1>Explore Git & HTML</h1>
    <hr/>
    <div>
    <label>Name:</label>
    <input type="text" ng-model="lastName" placeholder="Enter a name here">
    &nbsp;You have typed: <span id='msg'>{{lastName}}</span>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet iste, ducimus nisi illum placeat, accusantium ea nulla obcaecati, optio excepturi ipsam! Ab fuga sunt inventore consequuntur, exercitationem eaque illo error!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt exercitationem officiis sapiente, placeat maiores numquam explicabo, eius ad architecto nam commodi ex mollitia quasi ipsum molestias? Assumenda odit nemo nulla.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat aspernatur, cum sed autem adipisci assumenda nesciunt. Nulla soluta totam impedit eaque, fuga repudiandae excepturi beatae tenetur doloribus laboriosam, ipsum in!</p>
    <div>
    <ul>
        <li>This is test #1</li>
        <li>This is test #2</li>
        <li>This is test #3</li>
        <li>This is the last test</li>
    </ul>
    </div>
    </body>
</html>
<!-- add ng-app to the Open Settings -->
<h1>Explore Git & HTML</h1>
<hr/>
<div>
  <label>Name:</label>
  <input type="text" ng-model="lastName" placeholder="Enter a name here">
  &nbsp;You have typed: <span id='msg'>{{lastName}}</span>
</div>

<div>
  <ul>
    <li>This is test #1</li>
    <li>This is test #2</li>
    <li>This is test #3</li>
    <li>This is the last test</li>
  </ul>
</div>